<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Enter keywords here." />
<meta name="description" content="Enter brief description here." />

<title>4EyesOn.me: Report</title>

<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<link href="/assets/main.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="container-top">
<div class="padding">
    
    <div class="logo">
    	<h1 class="hide">4EyesOn.me</h1>
    </div>
    
    <div class="global-nav">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="2.html" class="current">Report</a></li>

        </ul>
    </div>
</div>
</div>

<!--BODY REGION-->
<div class="container-body">
<div class="padding">
  <%= yield %>
    <div class="clear"></div>
    
</div>
</div>

<!--FOOT REGION-->
<div class="container-foot">
  <div class="padding">
    <div class="info">
      <h3>4EyesOn.me</h3>
      <p> 589 W 1st Street<br />
        Washington, DC 20011</p>
      <strong>Phone:</strong> (888) 555-5555<br />
      <strong>Fax:</strong> (888) 555-5555</div>
    <div class="links">
      
  &copy; 2011 4EyesOn.me. All rights reserved. </div>
    <div class="clear"></div>
  </div>
</div>
</body>
</html>
